@use "../../styles/partials/mixins" as *;

.issuance-table{
    
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color:rgba(49,49,49,0.8);;
 
    &__header{
        display: none;

        @include tablet{
            
            display: flex; 
            padding: 1.25rem 0 ;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: left; 
            color: #5C667E;
            background-color: #F7F8F9B2; 
            text-transform: uppercase;
            // border-bottom: 1px solid #4a5568; 
        
        }
    }
    
    &__title{
        width: 20%; 
        padding: 0 0 0 1rem;
    }



   &-row {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #bdc5d5;


    &__column {
        width: 50%;
        padding: 1.25rem 1rem;

        font-size: .875rem;
        font-weight: 500;

        @include tablet {
            width: 20%;
        }

        &-quantity{
           border: 1px solid black
        }

    }

    &__mobile-heading {
        font-weight: bold;

        @include tablet {
            display: none;
        }
    }
}

  &__button{
    @include button;
    background-color: blue ;
    
  }

}