@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.order-details {

    background-color:$white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    margin: 1rem ;
    border: solid 1px $cloud;
    padding: 1rem;
    
    @include tablet{
        flex-direction: row; 
        justify-content: space-between;
      }
  
   
    @include desktop {
      width:63.75rem;
      margin :  0 auto;
    }
  
    &__divider{
        display: flex;
        flex-direction: column;
         gap : 1rem;
        
        @include tablet{
            width: 50%;
        } 
   
         
    }
  
//   &__box {
//       padding: 1rem;
//       font-size: 0.75rem;
//       border-bottom: 1px solid cloud;

//       @include tablet {
//         padding: 2rem;
//         font-size: 0.875rem;
//         display: flex;
//         align-items: flex-start;
//         justify-content: space-between;
//         border-bottom: none;
//       }

//       &-label {
//           color: $slate;
//           margin-bottom: 0;
//           text-transform: uppercase;
//       }

//       &-info {
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           justify-content: space-between;
//           padding-top: 2rem;
//           flex-basis: 60%;

//           @include tablet {
//             padding-top: 0;
//           }

//       }
      

//   }

  
}