@use "../../styles/partials/mixins" as *;


.start-workorder {

    display: flex;
    flex-wrap: wrap;
    background-color: white;
  
    &__header {
        display: none;
    
        @include tablet{
            
            display: flex; 
            padding: 1.25rem 0 ;

            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: left; 
            color: #5C667E;
            background-color: #F7F8F9B2; 
            text-transform: uppercase;  
            width: 100%;
        }
       
        
    }
    
    &__title {
        width: 20%; 
        padding: 0 0 0 1rem;
    }
 
 


    &__row {
            cursor: pointer;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            border-bottom: 1px solid  #bdc5d5 ;

            &:hover{
                background-color: #e4e6e9;
                transition: 0.2sec;
            }
    
        &__column {
            width: 50%;
            padding: 1.25rem 1rem; 
            margin: auto; 
            font-size: 1rem; 
            font-weight: 500;
            
            @include tablet{
            width: 20%; 
            }
           
        }
    }

    &__mobile-heading{
        font-weight: bold;
        @include tablet{
            display: none;
        }
      }   

    &__select{
        cursor: pointer;
        appearance: none; 
        width: 100%;
        padding: .625rem;
        border: .0625rem solid #ddd;
        border-radius: .25rem;
        background-color: #f9f9f9;
        background: #f9f9f9 url("../../assets/icons/arrow_drop_down-24px\ \(1\).svg") no-repeat;
        background-position: right 10px center;
        font-size: 1rem;
        color: #333;

       &--error{
        border: 1px solid #e74c3c;
       }

          &:hover, &:focus {
            border-color: #0a66c2;
  } 
    } 
  
 


    &__button{
        @include button;
        margin: auto 1rem;
        width: auto;
        flex: auto;
        color: white;
    }  
}