@use "../../styles/partials/mixins" as *;



.material-row {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #bdc5d5;
   

 



    &__column {
        width: 50%;
        padding: 1.25rem 1rem;

        font-size: .875rem;
        font-weight: 500;

        @include tablet {
            width: 20%;
        }

    }

    &__mobile-heading {
        font-weight: bold;

        @include tablet {
            display: none;
        }
    }
}