@use "../../styles/partials/variables" as *;

.material-tables{
    display: flex;
    gap: 2rem;
    border-radius: .5rem;
    width: 100%;
    justify-content: center; 
    &__recieved{
        width: 50%;
    }

    &__inTransit{
        background-color: white;
        width: 50%;
    }
}