@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.material-tables {
    display: flex;
    gap: 2rem;
    border-radius: .5rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
    

    &__recieved {
        background-color: white;
        
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: .8rem;

        @include tablet{
            width: 50%;
        }
    }

    &__inTransit {
        background-color: white;
     
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
        border-radius: 0.8rem;

        @include tablet{
            width: 50%;
        }
    }
}

.dragging-over {
    background-color: #ddd;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}