@use "../../styles//partials/mixins" as *;

.header {
    display: flex;
    align-items: center;
    background-color:white;
    padding: 20px;
    color: #333;
  
   &__content{

    display: flex;
    width: 100%;
    justify-content: space-between;
 
   }
  
    &__title {
      font-size: 24px;
      font-weight: 600;
      color: #333;
    }

    &__link{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
    }

    &__icon{
      margin-top: .625rem;
      @include tablet{
        display: none;
      }
    }
  }

  .header__menu {
    
    @include tablet{

      display: none;
    }
  }
  
  .header__menu--visible {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #0D47A1;
    font-size: 1.1rem;
    z-index: 1;
    left: 0;
    top: 5rem;
    padding: 1rem 0;
    color: white;
  }
  
 
  
  .header__user-container {
    position: relative;
    display: flex;
    align-items: center;
    /* Add other styles as needed */
  }
  
  .header__user-image {
    cursor: pointer;
    background-color: rgb(206, 205, 205);
    border-radius: 50%;
    height: 50px; /* Replace 50px with your desired height */
    width: 50px; /* Replace 50px with your desired width */
    /* Add other styles as needed */
  }
  
  .header__user-container > div {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* Add other styles as needed */
  }
  