@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login__container {
    display: flex;
    gap: 1rem;
    background-color: white;
    width: 100%;
    justify-content: space-around;

    &-form {
        width: 30%;
        display: flex;
        gap: 3rem;
        margin: 8% auto;
        flex-direction: column;
    }

    &-title {
        font-size: 1.8rem;
        padding: 0.725rem;
    }

}

.login__form {
    display: flex;
    flex-direction: column;

    &-label {
        display: flex;
        padding: .725rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    &-input {
        height: 3.75rem;
        padding: .9375rem .625rem;
        width: 100%;

        background-color: #EDF0F2;

        &::placeholder {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.68);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &--invalid{
            border-color: red;
        }
    }

    &-image {
        width: 50%;
    }

    &-button {
        @include button;
        color: white;
        margin: 1rem;
        width: 90%;
        margin: 1rem auto;
        height: 3rem;
    }
}