@use "../../styles/partials/mixins" as *;

.materials-table{
    
   
    &__header {
        display: none;

        @include tablet{
            
            display: flex; 
            padding: 1.25rem 0 ;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-align: left; 
            color: #5C667E;
            background-color: #F7F8F9B2; 
            text-transform: uppercase;
            // border-bottom: 1px solid #4a5568; 
        
        }
       
        
    }

    &__title {
        width: 20%; 
        padding: 0 0 0 1rem;
    }
}
